@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInFp {
  from {
    transform: translateX(-110%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scaleLine {
  from {
    transform: scale(1, 0);
    transform-origin: center top;
  }

  to {
    transform: scale(1, 1);
    transform-origin: center top;
  }
}

@keyframes scaleBoxes {
  from {
    transform: scale(0, 1);
    transform-origin: left center;
  }

  to {
    transform: scale(1, 1);
    transform-origin: left center;
  }
}
@keyframes scaleOutBoxes {
  from {
    transform: scale(1, 1);
    transform-origin: left center;
  }

  to {
    transform: scale(0, 1);
    transform-origin: left center;
  }
}
@keyframes scaleBoxesPrev {
  from {
    transform: scale(0, 1);
    transform-origin: left center;
  }

  to {
    transform: scale(1, 1);
    transform-origin: left center;
  }
}
@keyframes scaleOutBoxesPrev {
  from {
    transform: scale(1, 1);
    transform-origin: right center;
  }

  to {
    transform: scale(0, 1);
    transform-origin: right center;
  }
}

@keyframes scaleBoxesNext {
  from {
    transform: scale(0, 1);
    transform-origin: right center;
  }

  to {
    transform: scale(1, 1);
    transform-origin: right center;
  }
}

@keyframes scaleOutBoxesNext {
  from {
    transform: scale(1, 1);
    transform-origin: left center;
  }

  to {
    transform: scale(0, 1);
    transform-origin: left center;
  }
}

@keyframes scaleImages {
  from {
    transform: translateX(-110%);
    transform-origin: left center;
  }

  to {
    transform: translateX(0%);
    transform-origin: left center;
  }
}

@keyframes scaleOutImages {
  from {
    transform: translateX(0%);
    transform-origin: left center;
  }

  to {
    transform: translateX(-110%);
    transform-origin: left center;
  }
}
@keyframes scaleImagesPrev {
  from {
    transform: translateX(-110%);
    transform-origin: left center;
  }

  to {
    transform: translateX(0%);
    transform-origin: left center;
  }
}

@keyframes scaleOutImagesPrev {
  from {
    transform: translateX(0%);
    transform-origin: left center;
  }

  to {
    transform: translateX(110%);
    transform-origin: left center;
  }
}
@keyframes scaleImagesNext {
  from {
    transform: translateX(110%);
    transform-origin: left center;
  }

  to {
    transform: translateX(0%);
    transform-origin: left center;
  }
}

@keyframes scaleOutImagesNext {
  from {
    transform: translateX(0%);
    transform-origin: left center;
  }

  to {
    transform: translateX(-110%);
    transform-origin: left center;
  }
}

@keyframes moveInCart {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes moveOutCart {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

//Animations on page enter

.frontpage_item img,
.frontpage_heading span,
.product_main-img,
.about_image1 img,
.about_image2 img,
.about_bloom > *,
.about_mission > *,
.services_heading,
.services_article > *,
.contact_img img {
  transform: translateX(-120%);
  animation: scaleImages 1s $cubic-bezier forwards;
}

.product_main-text h1,
.product_main-text h4,
.product_main-text .counter,
.product_main-text .btn,
.product_details section {
  transform: translateX(-200%);
  animation: scaleImages 0.5s $cubic-bezier forwards;
}

.frontpage div:nth-child(4),
.frontpage div:nth-child(3),
.frontpage div:nth-child(2),
.product_main-bg,
.services_bg1,
.services_bg2,
.services_images img,
.contact_img {
  transform: scale(0, 1);
  transform-origin: left center;
  animation: scaleBoxes 1s $cubic-bezier forwards;
}

// cart animation

.fadeBgIn-enter,
.fadeBgIn-leave-to {
  opacity: 0;
}
.fadeBgIn-enter-active,
.fadeBgIn-leave-active {
  transition: opacity 0.5s $cubic-bezier;
}

.fadeBgIn-enter-active > .cart {
  animation: moveInCart 0.5s $cubic-bezier forwards;
}
.fadeBgIn-enter-to > .cart {
  transform: translateX(0);
}
.fadeBgIn-leave-active > .cart {
  animation: moveOutCart 0.5s $cubic-bezier forwards;
}

// Product page details animation
.slideTextIn-enter-active {
  animation: scaleImages 0.5s $cubic-bezier forwards;
}
.slideTextIn-leave-active,
.slideItemOut-leave-active {
  animation: scaleOutImages 0.5s $cubic-bezier forwards;
}

//Prouct slider animation
.slidePrevProduct-enter-active,
.slidePrevProduct-leave-active,
.slideNextProduct-enter-active,
.slideNextProduct-leave-active {
  transition: all 0.5s $cubic-bezier;
}
//animation on 'prev'
.slidePrevProduct-enter-active > .products_img {
  animation: scaleBoxesPrev 0.5s $cubic-bezier forwards;
}
.slidePrevProduct-leave-active > .products_img {
  animation: scaleOutBoxesPrev 0.5s $cubic-bezier forwards;
}
.slidePrevProduct-leave-to > .products_img {
  transform: scale(0, 1);
}
.slidePrevProduct-enter-active > .products_info > h1,
.slidePrevProduct-enter-active > .products_info > p {
  animation: scaleImagesPrev 0.5s $cubic-bezier forwards;
}
.slidePrevProduct-leave-active > .products_info > h1,
.slidePrevProduct-leave-active > .products_info > p {
  animation: scaleOutImagesPrev 0.5s $cubic-bezier forwards;
}
//animation on 'next'
.slideNextProduct-enter-active > .products_img {
  animation: scaleBoxesNext 0.5s $cubic-bezier forwards;
}
.slideNextProduct-leave-active > .products_img {
  animation: scaleOutBoxesNext 0.5s $cubic-bezier forwards;
}
.slideNextProduct-enter-active > .products_info > h1,
.slideNextProduct-enter-active > .products_info > p {
  animation: scaleImagesNext 0.5s $cubic-bezier forwards;
}
.slideNextProduct-leave-active > .products_info > h1,
.slideNextProduct-leave-active > .products_info > p {
  animation: scaleOutImagesNext 0.5s $cubic-bezier forwards;
}
