*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  scroll-behavior: smooth;

  @include respond(small-desk) {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: $padding;

  @include respond(tablet) {
    padding: 0;
  }
}
