@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(21, 3.5vw);
  grid-template-rows: repeat(13, 3.5vw);

  @include respond(desktop) {
    grid-template-columns: repeat(21, 50px);
    grid-template-rows: repeat(13, 50px);
  }

  @include respond(tablet) {
    grid-template-columns: repeat(8, calc(70vw / 8));
    grid-template-rows: repeat(11, calc(70vw / 8));
  }
  @include respond(mobile) {
    grid-template-columns: repeat(8, calc(100vw / 8));
    grid-template-rows: repeat(11, calc(100vw / 8));
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media only screen and (max-width: 425px) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 562px) {
      @content;
    } //900px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    } //1200px
  }
  @if $breakpoint == small-desk {
    @media only screen and (max-width: 1115px) {
      @content;
    } //1800
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 1530px) {
      @content;
    } //1800
  }
}
