// COLORS
$color-text: #000;
$color-bg: #fff;
$pastel-1: #ffe9ea;
$pastel-2: #fbdaee;
$pastel-3: #dacfff;
$pastel-4: #c5ffff;
$pastel-5: #e2feff;

//SIZES

$padding: 3rem;

$top-padding: 20vh;

//ANIMATIONS

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
