.btn {
  display: block;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border: 1px solid $color-text;
  background-color: transparent;
  outline: none;

  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500;
}
