/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 1115px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 750px) {
    body {
      padding: 0; } }

@font-face {
  font-family: "Manrope";
  src: url("../../assets/Manrope.ttf"); }

body {
  font-family: Manrope, sans-serif;
  color: #000; }

h1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 750px) {
    h1 {
      font-size: 3.125rem;
      font-weight: 800; } }

h2 {
  font-size: 5.2rem;
  font-weight: 900; }

h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.4px; }

h4 {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 1.4px; }

p {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1.3px; }

.header {
  position: fixed;
  width: calc(100% - (2 * 3rem));
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 10; }
  @media only screen and (max-width: 750px) {
    .header {
      width: 100%; } }
  .header a {
    justify-self: center;
    z-index: 10; }
  .header_menu {
    justify-self: left; }
    @media only screen and (max-width: 750px) {
      .header_menu {
        margin: 10px; } }
  .header_logo {
    width: 6rem;
    height: 6rem;
    justify-self: center; }
  .header_cart {
    height: min-content;
    justify-self: right;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
    align-items: center;
    justify-items: right; }
    @media only screen and (max-width: 750px) {
      .header_cart {
        margin: 5px; } }
    .header_cart p {
      text-transform: uppercase;
      font-size: 1.1rem;
      display: inline-block; }
      @media only screen and (max-width: 750px) {
        .header_cart p:first-child {
          display: none; } }
    .header_cart-line {
      width: 76px;
      height: 1px;
      background-color: #000;
      margin: 0 3rem 0 3rem; }
      @media only screen and (max-width: 750px) {
        .header_cart-line {
          display: none; } }
    .header_cart img {
      width: 2.6rem;
      height: 3.6rem;
      margin-left: 0.7rem;
      cursor: pointer; }

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 10;
  cursor: pointer; }
  .menu div {
    transition: all 0.3s;
    height: 1px;
    background-color: #000; }
  .menu div:first-child {
    width: 100%; }
  .menu div:nth-child(2) {
    width: 65%; }
  .menu div:nth-child(3) {
    width: 0%; }
  .menu:hover div {
    width: 100%; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - (2 * 3rem));
  height: 100vh;
  z-index: 1;
  background: #fff; }
  .nav_list {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .nav_list-item {
      width: max-content;
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      font-size: 4.2rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      cursor: pointer; }
      .nav_list-item:not(:last-child) {
        margin-bottom: 4rem; }
      .nav_list-item:hover {
        animation: changeBg 0.5s ease-in alternate; }

@keyframes changeBg {
  to {
    background: pink; } }

.frontpage-wrapper {
  width: calc(100vw - (2 * 3rem));
  height: calc(100vh - (2 * 3rem));
  display: grid;
  justify-items: center;
  align-items: center; }
  @media only screen and (max-width: 750px) {
    .frontpage-wrapper {
      width: 100vw;
      height: 100vh; } }

.frontpage {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(21, 3.5vw);
  grid-template-rows: repeat(13, 3.5vw); }
  @media only screen and (max-width: 750px) {
    .frontpage {
      grid-template-columns: repeat(8, calc(70vw / 8));
      grid-template-rows: repeat(11, calc(70vw / 8)); } }
  @media only screen and (max-width: 425px) {
    .frontpage {
      grid-template-columns: repeat(8, calc(100vw / 8));
      grid-template-rows: repeat(11, calc(100vw / 8)); } }
  .frontpage_heading {
    text-align: right;
    grid-area: 1 / 10 / span 2 / span 11; }
    @media only screen and (max-width: 750px) {
      .frontpage_heading {
        grid-area: 1 / 3 / span 2 / span 6;
        padding-right: 4px; } }
  .frontpage_line {
    height: 100%;
    width: 1px;
    background-color: #000; }
    @media only screen and (max-width: 750px) {
      .frontpage_line {
        visibility: hidden; } }
    .frontpage_line:first-child {
      grid-area: 1 / 1 / 6 / 2; }
    .frontpage_line:last-child {
      grid-area: -1 / -1 / -6 / -2;
      justify-self: right; }
  .frontpage_item {
    width: 100%;
    height: 100%;
    position: relative; }
    .frontpage_item img {
      width: 100%;
      height: 100%; }
  .frontpage div:nth-child(2) {
    background: #e2feff;
    grid-area: 1 / 2 / 6 / 6; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(2) {
        grid-area: 1 / 1 / span 3 / span 3; } }
  .frontpage div:nth-child(3) {
    background: #fbdaee;
    grid-area: 8 / 1 / span 5 / 5;
    z-index: 2; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(3) {
        grid-area: 9 / 3 / span 3 / span 4; } }
  .frontpage div:nth-child(4) {
    background: #ffe9ea;
    grid-area: 5 / 12 / span 6 / span 5;
    z-index: 2; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(4) {
        grid-area: 4 / 4 / span 3 / span 5;
        z-index: 1; } }
  .frontpage div:nth-child(5) {
    grid-area: 7 / 4 / span 7 / span 6; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(5) {
        grid-area: 7 / 1 / span 4 / span 3;
        z-index: 2; } }
  .frontpage div:nth-child(6) {
    grid-area: 9 / 7 / span 3 / span 6; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(6) {
        grid-area: 6 / 2 / span 2 / span 3;
        z-index: 3; } }
  .frontpage div:nth-child(7) {
    grid-area: 8 / 16 / span 6 / span 5;
    z-index: 2; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(7) {
        grid-area: 6 / 6 / span 4 / span 3;
        z-index: 1; } }
  .frontpage div:nth-child(8) {
    grid-area: 3 / 5 / span 5 / span 8;
    z-index: 3;
    background-color: #000;
    height: 80%;
    align-self: center; }
    @media only screen and (max-width: 750px) {
      .frontpage div:nth-child(8) {
        grid-area: 3 / 2 / span 2 / span 5;
        height: 100%; }
        .frontpage div:nth-child(8) img {
          margin: auto;
          display: block;
          width: auto !important; } }

.footer {
  display: grid;
  padding-top: 20vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  align-items: center;
  justify-items: center;
  position: relative;
  z-index: -1; }
  @media only screen and (max-width: 425px) {
    .footer {
      grid-template-columns: 25vw 1fr 25vw; } }
  .footer_line {
    width: 80%;
    height: 1px;
    background-color: #000; }
    @media only screen and (max-width: 425px) {
      .footer_line {
        width: 100%; }
        .footer_line:first-of-type {
          justify-self: left; }
        .footer_line:nth-of-type(2) {
          justify-self: right; } }
  .footer_logo {
    width: 18.2rem;
    height: auto; }
    @media only screen and (max-width: 425px) {
      .footer_logo {
        width: 30vw; } }
  .footer_links ul {
    list-style: none; }
    .footer_links ul li {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1.3px;
      text-align: center; }
      .footer_links ul li:not(:last-child) {
        margin-bottom: 0.6rem; }
  .footer_social {
    margin-top: 3rem; }
    .footer_social-item {
      display: inline-block;
      width: 2.7rem;
      height: 2.7rem; }
      .footer_social-item img {
        width: 100%;
        height: 100%; }
      .footer_social-item:not(:last-child) {
        margin-right: calc((18.2rem - (2.7rem * 3)) / 2); }
        @media only screen and (max-width: 425px) {
          .footer_social-item:not(:last-child) {
            margin-right: calc((30vw - (2.7rem * 3)) / 2); } }

.about-wrapper {
  margin: auto;
  width: min-content;
  padding-top: 20vh; }
  .about-wrapper .btn {
    margin-top: 8rem; }
  @media only screen and (max-width: 750px) {
    .about-wrapper {
      width: 70%; } }
  @media only screen and (max-width: 425px) {
    .about-wrapper {
      width: 100%; } }

.about {
  display: grid;
  grid-template: repeat(20, 3.5vw)/repeat(19, 3.5vw); }
  @media only screen and (max-width: 1115px) {
    .about {
      grid-template: repeat(20, 4.5vw)/repeat(19, 4.5vw); } }
  @media only screen and (max-width: 750px) {
    .about {
      grid-template: repeat(25, 50px)/1fr; } }
  .about_line {
    background-color: #000;
    width: 1px;
    height: 100%; }
    @media only screen and (max-width: 750px) {
      .about_line {
        display: none; } }
    .about_line:first-child {
      grid-area: 1 / 1 / span 5 / span 1; }
    .about_line:nth-child(2) {
      grid-area: 14 / -2 / span 5 / span 1;
      justify-self: right; }
      @media only screen and (max-width: 1115px) {
        .about_line:nth-child(2) {
          grid-area: 12 / -2 / span 5 / span 1; } }
  .about_image1 {
    grid-area: 1 / 2 / span 6 / span 8; }
    @media only screen and (max-width: 750px) {
      .about_image1 {
        grid-area: 1 / 1 / span 6 / span 1; } }
    .about_image1 img {
      width: 100%;
      height: 100%; }
  .about_image2 {
    grid-area: 11 / 8 / span 8 / span 11; }
    @media only screen and (max-width: 1115px) {
      .about_image2 {
        grid-area: 9 / 8 / span 8 / span 11; } }
    @media only screen and (max-width: 750px) {
      .about_image2 {
        grid-area: 14 / 1 / span 6 / span 1; } }
    .about_image2 img {
      width: 100%;
      height: 100%; }
  .about_bloom {
    grid-area: 2 / 11 / span 9 / span 8; }
    @media only screen and (max-width: 750px) {
      .about_bloom {
        grid-area: 6 / 1 / span 6 / span 1;
        padding: 0 1rem; } }
    .about_bloom p {
      padding-left: 3rem; }
      @media only screen and (max-width: 750px) {
        .about_bloom p {
          padding-left: calc(100vw / 8);
          font-size: 12px;
          line-height: 20px; } }
  .about_mission {
    grid-area: 12 /3 / span 9 / span 12; }
    @media only screen and (max-width: 1115px) {
      .about_mission {
        grid-area: 10 /4 / span 9 / span 8; } }
    @media only screen and (max-width: 750px) {
      .about_mission {
        grid-area: 17 / 1 / span 9 / span 1;
        padding: 0 1rem; } }
    .about_mission-text {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .about_mission p,
    .about_mission h4 {
      padding-right: 3rem; }
      @media only screen and (max-width: 750px) {
        .about_mission p,
        .about_mission h4 {
          padding-right: 2rem;
          font-size: 12px;
          line-height: 20px; } }
    .about_mission h1,
    .about_mission h4,
    .about_mission p {
      text-align: right; }
  @media only screen and (max-width: 750px) {
    .about h1 {
      font-size: 4.5rem;
      font-weight: 900; } }

.products-wrapper {
  width: calc(100vw - (2 * 3rem));
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template: 1fr / 1fr;
  align-items: center;
  justify-items: center; }

.products {
  display: grid;
  grid-template: repeat(11, 3.5vw)/repeat(21, 3.5vw); }
  @media only screen and (max-width: 1115px) {
    .products {
      grid-template: repeat(11, 4.5vw)/repeat(21, 4.5vw); } }
  .products_info {
    grid-area: 5 / 1 / span 7 / span 7; }
    .products_info p,
    .products_info h1 {
      text-align: right; }
    .products_info .btn {
      margin-top: 5rem; }
  .products_img {
    position: relative;
    grid-area: 2 / 7 / span 10 / span 15;
    background-color: #e2feff;
    z-index: -1;
    background-size: 28%;
    background-position: 73% center;
    background-repeat: no-repeat; }
  .products_ingredients {
    grid-area: 1 / 11 / span 2 / span 2;
    align-self: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 80%;
    height: 80%;
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: center center; }
  .products_details {
    visibility: hidden;
    grid-area: 4 / 9 / span 5 / span 6; }
    .products_details-labels {
      display: grid;
      grid-template: 1fr/repeat(3, 1fr);
      justify-items: center;
      align-items: baseline;
      margin-bottom: 3rem; }
      .products_details-labels img {
        width: 4rem;
        display: inline-block; }
        .products_details-labels img:last-child {
          width: 5.5rem; }
    .products_details ul {
      list-style: none;
      width: max-content;
      margin: auto; }
      .products_details ul li {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: right;
        padding: 1rem 0; }
        .products_details ul li:not(:last-child) {
          border-bottom: 1px solid #000; }

.product {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  position: absolute;
  top: 0;
  left: 0; }
  .product_main {
    width: 100%;
    height: 100%;
    background-color: #e2feff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center; }
    .product_main-img {
      width: 60%; }

.btn {
  display: block;
  margin: 2rem auto;
  padding: 2rem 4rem;
  border: 1px solid #000;
  background-color: transparent;
  outline: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 500; }
