.about-wrapper {
  margin: auto;
  width: min-content;
  padding-top: $top-padding;

  .btn {
    margin-bottom: 8rem;
    margin-left: 3rem;
    margin-top: 5rem;
    max-width: 224px;
    max-height: 55px;
    @include respond(small-desk) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
    }
    @include respond(tablet) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5rem;
    }
  }
  .btn2 {
    grid-column: span 2;
    margin-right: 3rem;
    margin-left: auto;
    width: 70%;
    @include respond(tablet) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include respond(tablet) {
    width: 70%;
  }
  @include respond(mobile) {
    width: 100%;
  }
}

.about {
  display: grid;
  grid-template: repeat(24, 3.5vw) / repeat(19, 3.5vw);

  @include respond(tablet) {
    grid-template: repeat(27, 50px) / 1fr;
  }

  &_line {
    background-color: $color-text;
    width: 1px;
    height: 100%;
    animation: scaleLine 1s $cubic-bezier forwards;

    @include respond(tablet) {
      display: none;
    }

    &:first-child {
      grid-area: 1 / 1 / span 5 / span 1;
    }
    &:nth-child(2) {
      grid-area: 14 / -2 / span 5 / span 1;
      justify-self: right;
      @include respond(small-desk) {
        grid-area: 12 / -2 / span 5 / span 1;
      }
    }
  }

  &_image1 {
    grid-area: 1 / 2 / span 6 / span 8;
    overflow: hidden;

    @include respond(tablet) {
      grid-area: 1 / 1 / span 6 / span 1;
    }

    img {
      width: 100%;
      height: 100%;
      animation-delay: 0.5s;
    }
  }

  &_image2 {
    grid-area: 12 / 8 / span 8 / span 11;
    overflow: hidden;

    @include respond(small-desk) {
      grid-area: 12 / 8 / span 8 / span 11;
    }
    @include respond(tablet) {
      grid-area: 14 / 1 / span 6 / span 1;
    }

    img {
      width: 100%;
      height: 100%;
      animation-delay: 0.5s;
    }
  }

  &_bloom {
    grid-area: 2 / 11 / span 9 / span 8;
    overflow: hidden;
    @include respond(tablet) {
      grid-area: 6 / 1 / span 8 / span 1;
      padding: 0 1rem;
    }
    p {
      padding-left: 3rem;
      @include respond(tablet) {
        padding-left: calc(100vw / 8);
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  &_mission {
    grid-area: 13 /3 / span 13 / span 12;
    overflow: hidden;
    @include respond(small-desk) {
      grid-area: 13 /4 / span 13 / span 8;
    }
    @include respond(tablet) {
      grid-area: 17 / 1 / span 11 / span 1;
      padding: 0 1rem;
    }

    &-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    p,
    h4 {
      padding-right: 3rem;
      @include respond(tablet) {
        padding-right: 2rem;
        font-size: 12px;
        line-height: 20px;
      }
    }

    h1,
    h4,
    p {
      text-align: right;
    }
  }

  h1 {
    @include respond(tablet) {
      font-size: 4.5rem;
      font-weight: 900;
    }
  }
}
