.contact-wrapper {
  width: calc(100vw - (2 * #{$padding}));
  height: calc(100vh - (2 * #{$padding}));
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 3vw;
  @include respond(tablet) {
    width: 100vw;
  }
}

.contact {
  @include grid;
  grid-template-rows: repeat(16, 3.5vw);

  &_line {
    grid-area: 1 / 1 / span 5 / span 1;

    background-color: $color-text;
    width: 1px;
    height: 100%;
    animation: scaleLine 1s $cubic-bezier forwards;

    @include respond(tablet) {
      display: none;
    }

    &:last-child {
      grid-area: 6 / -1 / span 5 / -2;
      justify-self: right;
    }
  }
  &_img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }

    &:first-child {
      grid-area: 1 / 2 / span 5 / span 4;
      background-color: $pastel-5;
      animation-delay: 2s;
      @include respond(tablet) {
        animation-delay: 0.5s;
      }

      @include respond(tablet) {
        grid-area: 2 / 1 / span 2 / span 4;
      }
    }

    &:nth-child(2) {
      grid-area: 3 / 5 / span 5 / span 8;
      z-index: 3;
      background-color: $color-text;

      height: 80%;
      align-self: center;

      img {
        animation-delay: 1s;

        @include respond(tablet) {
          animation-delay: 0s;
        }
      }

      @include respond(tablet) {
        grid-area: 3 / 2 / span 2 / span 5;
        height: 100%;

        img {
          margin: auto;
          display: block;
          width: auto !important;
        }
      }
    }

    &:nth-child(3) {
      grid-area: 6 / 11 / span 5 / span 10;
      z-index: -1;

      img {
        animation-delay: 2s;
        @include respond(tablet) {
          animation-delay: 0.5s;
        }
      }

      @include respond(tablet) {
        grid-area: 4 / 5 / span 4 / span 4;
      }
    }
  }

  &_heading {
    grid-area: 1 / 16 / span 3 / span 6;
    text-align: right;
    margin-right: 1rem;

    @include respond(tablet) {
      grid-area: 1 / 5 / span 2 / span 4;
    }
  }

  &_text {
    grid-area: 9 / 2 / span 3 / span 19;

    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    align-items: end;
    height: 80%;

    @include respond(tablet) {
      grid-area: 6 / 2 / span 3 / span 6;
      grid-template: repeat(2, 1fr) / 4fr 6fr;
      align-items: start;
    }

    h4 {
      font-weight: 800;
      @include respond(tablet) {
        font-size: 1.4rem;
      }

      &:first-child {
        @include respond(tablet) {
          grid-area: 1 / 1 / span 1 / span 1;
        }
      }
      &:nth-child(2) {
        @include respond(tablet) {
          grid-area: 2 / 1 / span 1 / span 1;
        }
      }
      &:nth-child(3) {
        @include respond(tablet) {
          grid-area: 3 / 1 / span 1 / span 1;
        }
      }
    }
  }

  &_form {
    grid-area: 13 / 2 / span 2 / span 19;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid $color-text;
    height: 70%;
    margin-top: 5rem;

    position: relative;

    @include respond(tablet) {
      grid-area: 10 / 2 / span 5 / span 6;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      height: 100%;
    }

    &-wrapper {
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        border-right: 1px solid $color-text;
        text-align: center;

        outline: none;

        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;

        position: relative;
        transition: all 0.2s $cubic-bezier;

        @include respond(tablet) {
          border-right: none;
          border-bottom: 1px solid $color-text;
        }

        &:focus {
          border: 1px solid $color-text;
          border-right: 2px solid $color-text;
          z-index: 10;
        }

        &::placeholder {
          color: $color-text;
        }

        &:focus:not(:placeholder-shown) + label {
          opacity: 1;
          transform: translateY(0);
        }
      }

      label {
        display: block;
        width: 100%;
        position: absolute;
        top: 2px;

        text-align: center;
        letter-spacing: 1px;
        font-weight: 800;
        text-transform: uppercase;

        transform: translateY(2rem);
        opacity: 0;
        z-index: 10;

        transition: all 0.2s $cubic-bezier;
      }
    }

    button {
      background-color: transparent;
      border: none;
      margin: 0;

      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
