$unit: 5.5vw;

.display_wrapper {
  width: max-content;
  margin: auto;
  position: relative;
  display: grid;
  align-items: center;

  @include respond(small-desk) {
    width: 100vw;
  }
}

.display {
  &_info {
    justify-self: center;
    position: relative;

    &-line {
      height: 5rem;
      width: 1px;
      background-color: $color-text;
      margin: 4rem auto 4rem auto;
    }

    &-heading {
      font-weight: 800;
      font-size: 3.4rem;
      margin-bottom: 1rem;
    }
    &-subheading {
      display: block;
      font-size: 1.7rem;
      font-weight: 500;
      letter-spacing: 1.4px;
      margin-bottom: 3rem;

      span {
        display: inline-block;
        background-size: 100% 100%;
        width: 27px;
        height: 18px;
        transform: translateY(2px);
      }
    }
    &-heading,
    &-subheading {
      text-align: center;
    }

    //flipcard
    .card {
      width: 46rem;
      height: 26rem;
      perspective: 150rem;
      -webkit-perspective: 150rem;
      -moz-perspective: 150rem; //for mozzila browser
      position: relative;

      @include respond(mobile) {
        width: 90vw;
        margin: auto;
      }

      &__side {
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        overflow: hidden;
        -webkit-overflow: hidden;
        // box-shadow: 0 1.5rem 4rem rgba($color-text, 0.15);

        &--front {
          img {
            width: 100%;
            height: 100%;
          }
        }

        &--back {
          width: 100%;
          height: 100%;
          padding: 5rem;
          background: linear-gradient(
            to top,
            rgba(250, 250, 250, 1) 0%,
            rgba(239, 236, 236, 1) 100%
          );
          transform: rotateY(180deg);
          -webkit-transform: rotateY(180deg);
          a {
            text-decoration: none;
            color: inherit;
            width: max-content;
            margin: auto;

            cursor: pointer;
            position: relative;
            transition: all 0.2s ease-in;
            transform: scale(1);

            // menu elements hover animation
            &:hover {
              transform: scale(1.1);
            }
            &:hover:before {
              transform-origin: left center;
              transform: scale(1, 1);
            }
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              transform-origin: right center;
              height: 1px;
              background: #000000;
              transform: scale(0, 1);
              transition: transform 0.4s $cubic-bezier;
            }
          }
        }
      }

      &.flipCard .card__side--front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
      }

      &.flipCard .card__side--back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
    }
  }
}
