.nav {
  position: absolute;
  top: -$padding;
  left: -$padding;

  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: #fff;

  @include respond(tablet) {
    top: 0;
    left: 0;
  }

  &_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-item {
      width: max-content;
      margin-left: auto;
      margin-right: auto;

      list-style: none;
      font-size: 3.5rem !important;
      font-weight: 700 !important;
      text-align: center;
      text-transform: uppercase !important;
      padding: 0.5rem 1rem;

      cursor: pointer;

      border: none !important;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }
  }
}
