.product {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 6fr 4fr;

  position: absolute;
  top: 0;
  left: 0;

  @include respond(tablet) {
    grid-template-columns: 5fr 5fr;
  }

  @include respond(mobile) {
    grid-template-columns: 1fr;
  }

  &_main {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    position: relative;

    overflow: hidden;

    @include respond(small-desk) {
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 40vh;

      overflow: inherit;
    }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $pastel-5;

      z-index: -1;
    }

    &-img {
      width: 60%;
      animation-delay: 1s;

      @include respond(small-desk) {
        width: auto;
        height: 70%;
        align-self: end;
      }
    }

    &-text {
      overflow: hidden;

      h4,
      h1 {
        text-align: center;
        animation-delay: 1s;
      }

      h1 {
        margin-bottom: 0.5rem;
      }

      .counter {
        animation-delay: 1s;
      }

      .btn {
        animation-delay: 1s;
      }
    }
  }

  &_details {
    height: 80vh;
    align-self: center;

    background-color: $color-bg;
    display: grid;
    align-items: center;
    overflow: hidden;

    section {
      width: 80%;
      margin: auto;
      height: calc(70vh / 3);

      animation-delay: 1s;

      h3 {
        display: inline-block;
        width: max-content;
        margin-bottom: 3rem;
        border-bottom: 1px solid $color-text;
        margin-left: -2rem;
        span {
          cursor: pointer;
        }
      }

      ul {
        li {
          list-style: none;
          margin: 0.5rem auto;
        }
      }
    }
  }
}
