.services_wrapper {
  width: calc(100vw - (2 * #{$padding}));
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: $top-padding;

  @include respond(tablet) {
    width: 100vw;
    height: auto;
  }

  .btn {
    margin: 10vh auto;
  }
}

.services {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(23, 3.5vw);
  grid-template-rows: repeat(20, 3.5vw);
  overflow: hidden;

  @include respond(desktop) {
    grid-template-columns: repeat(21, 50px);
    grid-template-rows: repeat(13, 50px);
  }

  @include respond(tablet) {
    grid-template-columns: repeat(8, calc(70vw / 8));
    grid-template-rows: repeat(27, calc(70vw / 8));
  }
  @include respond(mobile) {
    grid-template-columns: repeat(8, calc(100vw / 8));
    grid-template-rows: repeat(27, calc(100vw / 8));
  }

  &_line {
    &:first-child {
      grid-area: 1 / 1 / span 5 / span 1;
    }
    &:nth-child(2) {
      grid-area: 7 / -1 / span 6 / -2;
      justify-self: right;
    }

    @include respond(tablet) {
      display: none;
    }
  }

  &_bg1 {
    position: relative;
    z-index: -1;
    animation-delay: 1s;
    grid-area: 2 / 2 / span 6 / span 11;
    background-color: $pastel-5;

    @include respond(tablet) {
      grid-area: 2 / 1 / span 7 / span 5;
    }
  }
  &_bg2 {
    position: relative;
    z-index: -1;
    animation-delay: 1s;
    grid-area: 11 / 12 / span 6 / span 11;
    background-color: $pastel-3;

    @include respond(tablet) {
      grid-area: 18 / 3 / span 7 / span 6;
    }
  }
  &_heading {
    grid-area: 1 / 2 / span 2 / span 7;

    @include respond(tablet) {
      grid-area: 1 / 1 / span 7 / span 2;
    }
  }
  &_images {
    overflow: hidden;
    grid-area: 4 / 4 / span 5 / span 19;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: calc(2 * 3.5vw);

    @include respond(tablet) {
      grid-area: 3 / 3 / span 14 / span 4;
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: 1fr;
    }

    img {
      width: 100%;
      height: 100%;

      @include respond(tablet) {
        height: auto;
      }
    }
  }
  &_article {
    overflow: hidden;
    grid-area: 12 / 6 / span 16 / span 15;
    display: grid;
    grid-template: max-content max-content / 1fr 1fr;
    grid-column-gap: 2rem;

    @include respond(tablet) {
      grid-area: 18 / 1 / span 9 / span 7;
    }

    h2 {
      grid-area: 1 / 1 / span 1 / span 2;
      margin-bottom: 2rem;
    }

    section:nth-child(2) > * {
      text-align: right;
    }
  }

  &_horiz-line {
    width: 50%;
    height: 1px;
    background-color: $color-text;

    margin: 5rem 0;
  }

  &_subheading {
    margin: 5rem;
  }
}
