.cart_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-text, 0.26);
}

.cart {
  width: 30vw;
  height: 100vh;
  margin-left: auto;
  margin-right: 0;
  background-color: $color-bg;
  position: relative;

  &_heading {
    font-size: 3rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10vh;
  }

  &_item {
    width: 80%;
    height: 11vh;
    margin: auto;
    margin-top: 3rem;
    background: $pastel-5;

    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;

    img {
      display: block;
      height: 100%;
      width: auto;
      padding: 1rem;
    }
    div {
      padding: 1rem;
    }
  }

  &_info {
    width: 80%;
    margin: auto;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
