.cart_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-text, 0.26);
  z-index: -1;
}

.clickaway {
  display: inline-block;
  width: calc(100vw - 32vw);
  height: 100vh;

  @include respond(desk) {
    width: calc(100vw - 430px);
  }

  @include respond(small-desk) {
    width: calc(100vw - 35vw);
  }
  @include respond(tablet) {
    width: 50vw;
  }
  @include respond(mobile) {
    width: 10;
  }
}
.cart {
  display: inline-block;
  width: 32vw;
  height: 100vh;
  margin-left: auto;
  margin-right: 0;
  background-color: $color-bg;
  position: relative;

  overflow: hidden;

  @include respond(desk) {
    width: 430px;
  }

  @include respond(small-desk) {
    width: 35vw;
  }
  @include respond(tablet) {
    width: 50vw;
  }
  @include respond(mobile) {
    width: 100vw;
  }

  &_checkout {
    width: 80%;
    margin: auto;
    margin-top: 4rem;

    h2 {
      font-size: 2rem;
      letter-spacing: 2.1px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      text-transform: none;
      margin-bottom: 2rem;

      span {
        display: block;
        font-weight: 800;
        text-decoration: underline;
        margin: 0.5rem 0;
      }
    }
  }

  &_heading {
    font-size: 2rem;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15vh;
  }

  &_noitems {
    display: block !important;
    width: 100%;
    text-align: center;
    font-weight: 900;
    opacity: 0.5;
    text-transform: none !important;
    position: absolute;
    top: 24vh;
  }

  &_item {
    width: 80%;
    height: 11vh;
    margin: auto;
    margin-top: 3rem;
    background: $pastel-5;

    display: grid;
    grid-template-columns: 3fr 5.5fr 1.5fr;
    align-items: center;

    position: relative;

    img {
      display: block;
      height: 100%;
      width: auto;
      padding: 1rem;

      justify-self: center;
    }
    div {
      padding: 1rem;

      h3,
      h4 {
        font-size: 1.3rem;
      }
    }

    &-delete {
      height: auto;
      padding: 0 !important;
      margin-right: 2.2rem;

      transition: all 0.2s $cubic-bezier;

      img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &_info {
    width: 80%;
    margin: auto;

    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    p {
      text-transform: none;
    }
  }
}
