.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  align-items: center;
  justify-items: center;

  position: relative;
  z-index: 0;

  @include respond(mobile) {
    grid-template-columns: 25vw 1fr 25vw;
  }

  &_line {
    width: 80%;
    height: 1px;
    background-color: $color-text;

    @include respond(mobile) {
      width: 100%;
      &:first-of-type {
        justify-self: left;
      }
      &:nth-of-type(2) {
        justify-self: right;
      }
    }
  }

  &_logo {
    width: 18.2rem;
    height: auto;
    @include respond(mobile) {
      width: 30vw;
    }
  }

  &_links {
    ul {
      list-style: none;

      li {
        width: max-content;
        margin: auto;
        padding: 3px;

        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 1.3px;
        text-align: center;

        cursor: pointer;
        position: relative;
        transition: all 0.2s ease-in;
        transform: scale(1);

        // menu elements hover animation
        &:hover {
          transform: scale(1.1);
        }
        &:hover:before {
          transform-origin: left center;
          transform: scale(1, 1);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          transform-origin: right center;
          height: 1px;
          background: #000000;
          transform: scale(0, 1);
          transition: transform 0.4s $cubic-bezier;
        }

        &:not(:last-child) {
          margin-bottom: 0.6rem;
        }
      }
    }
  }

  &_social {
    margin-top: 3rem;
    &-item {
      display: inline-block;
      width: 2.7rem;
      height: 2.7rem;
      position: relative;

      //social icons hover animation
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-text;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        z-index: -1;

        transition: all 0.4s $cubic-bezier;
      }

      &:hover:before {
        width: 4.5rem;
        height: 4.5rem;
      }

      img {
        width: 100%;
        height: 100%;
        background-color: $color-bg;
      }

      &:not(:last-child) {
        margin-right: calc((18.2rem - (2.7rem * 3)) / 2);
        @include respond(mobile) {
          margin-right: calc((30vw - (2.7rem * 3)) / 2);
        }
      }
    }
  }

  &_copywright {
    padding: 4rem 0;
    grid-area: 3 / 1 / span 1 / span 3;
    font-size: 1.1rem;
  }
}
